<section id="home_bg">
    <div class="m_container">
        <div class="grid_50 heigth_mcontent">
            <div class="m_content">
                <div class="bs-component">
                    <h2>We Specialized In</h2>
                    <ul>
                        <li>Forklift Sales</li>
                        <li>Forklift Rental</li>
                        <li>Forklift Repair</li>
                        <li>Forklift Attachment </li>
                        <li>Forklift Service & Recond</li>
                        <li>Forklift Parts & Accessories</li>
                        <li>Trade-Ins Forklifts</li>
                    </ul>
                </div>

                <a ng-click="main.setMenu('sales')" href class="btn btn-default">Sales</a>
                <a ng-click="main.setMenu('contactus')" href class="btn btn-default">Rental</a>
                <a ng-click="main.setMenu('repair')" href class="btn btn-default">Repair</a>
            </div>
        </div>
        <div class="grid_50 heigth_mcontent">
            <img class="rightside" src="images/PUZZLE-home-flash.gif">
        </div>
        <div class="clear_both"></div>
    </div>
</section>

<section class="brand">
    <div class="m_container">
        <div class="brand">
            <div class="img_content">
                <img class="resize-m-height" src="images/PUZZLE-logo-toyota.png" />
            </div>
            <div class="img_content">
                <img class="resize-m-height" src="images/PUZZLE-logo-bt.png" />
            </div>
            <div class="img_content">
                <img class="resize-m-auto" src="images/PUZZLE-logo-komatsu.png" />
            </div>
            <div class="img_content">
                <img class="resize-m-width" src="images/PUZZLE-logo-nissan.png" />
            </div>
            <div class="img_content">
                <img class="resize-m-height" src="images/PUZZLE-logo-mitsubishi-1.jpg" />
            </div>
            <div class="img_content">
                <img class="resize-m-width" src="images/PUZZLE-logo-nichiyu.png" />
            </div>
        </div>
    </div>
</section>